%h1
  = t('helpers.listing')
  = Service.model_name.human(count: 10)

= form_tag(services_index_path, method: :get) do
  =text_field_tag('name_of_service', '', :placeholder => "Поиск автосервиса")
  %button{:type => "submit"}
    Искать


%table
  %thead
    %tr
      %th= Service.human_attribute_name(:service_name)
      %th= Service.human_attribute_name(:service_type)
      %th= Service.human_attribute_name(:service_address)
      %th= Service.human_attribute_name(:service_phonenumber)
      %th
      %th
      %th

  %tbody
    - @services.each do |service|
      %tr
        %td= service.service_name
        %td= service_types(service.service_type)
        %td= service.service_address
        %td= service.service_phonenumber
        %td= link_to t('helpers.show'), service_path(service)
        /%td= link_to 'Edit', edit_service_path(service)
        /%td= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }

/%br
/  = link_to t('helpers.new') + ' ' + Service.model_name.human(count: 1), new_service_path