%h1
  = t('helpers.listing')
  = Service.model_name.human(count: 10)

= form_tag(services_index_path, method: :get) do
  .row
    .col-md-10
      .form-group
        #service-name
          =text_field_tag('service_name', '', :placeholder => "Название", class: 'typeahead form-control')
  .row
    .col-md-10
      .form-group
        #service-type
          =text_field_tag('service_types', '', :placeholder => "Услуги", class: 'typeahead form-control', data: {types:Service::SERVICE_TYPES_FOR_TYPEAHAED})
          /=select_tag('test', service_type_options)
  .row
    .col-md-4
      .form-group
        =text_field_tag('service_address', '', :placeholder => "Адрес", class: 'form-control')

    %button{:type => "submit", class: 'btn btn-primary'}
      Искать

.list-group
  - @services.each do |service|
    = link_to(service_path(id: service.id), class: 'list-group-item') do
      = service.service_name
      .toright
        %span.label.label-info
          = service.service_address
        %span.label.label-warning
          = service.service_phonenumber
        /- service.service_type.each do |s_type|
        /  %span.label.label-info
        /    = f_service_types(s_type)
      .clearfix