%h1
  = t('helpers.listing')
  = Service.model_name.human(count: 10)

= form_tag(services_index_path, method: :get) do
  #service-name
    =text_field_tag('service_name', '', :placeholder => "Название", class: 'typeahead')
    =text_field_tag('service_address', '', :placeholder => "Адрес")
  #service-type
    =text_field_tag('service_types', '', :placeholder => "Услуги", class: 'typeahead', data: {types:Service::SERVICE_TYPES_FOR_TYPEAHAED})
    /=select_tag('test', service_type_options)
    %button{:type => "submit"}
      Искать


%table
  %thead
    %tr
      %th= Service.human_attribute_name(:service_name)
      %th= Service.human_attribute_name(:service_type)
      %th= Service.human_attribute_name(:service_address)
      %th= Service.human_attribute_name(:service_phonenumber)
      %th
      %th
      %th

  %tbody
    - @services.each do |service|
      %tr
        %td= service.service_name
        %td= service_types(service.service_type)
        %td= service.service_address
        %td= service.service_phonenumber
        %td= link_to t('helpers.show'), service_path(id: service.id)