= form_for @service, url: admin_services_path() do |f|
  - if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-4
      .form-group
        = f.label :service_name
        = f.text_field :service_name, class: 'form-control'
  .row
    .col-md-4
      .form-group
        = f.label :service_type
        - Service::SERVICE_TYPES.each do |k, v|
          %div
            = check_box_tag "service[service_type][]", k
            %span= v
  .row
    .col-md-6
      .form-group
        = f.label :service_address
        = f.text_field :service_address, class: 'form-control'
    .col-md-2
      .form-group
        = f.label :service_phonenumber
        = f.text_field :service_phonenumber, class: 'form-control'


  = f.fields_for :pictures do |pic|
    .row
      .col-md-4
        .form-group
          = pic.label :image
          = pic.file_field :image
  .row
    .col-md-8
      .form-group
        .actions
          = f.submit t('helpers.submit.submit'), class: 'btn btn-primary'