= form_for @service, url: admin_services_path() do |f|
  - if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-8
      .form-group
        = f.label :service_name
        = f.text_field :service_name
  .row
    .col-md-8
      .form-group
        = f.label :service_type
        - Service::SERVICE_TYPES.each do |k, v|
          %div
            = check_box_tag "service[service_type][]", k
            %span= v
  .row
    .col-md-8
      .form-group
        = f.label :service_address
        = f.text_field :service_address
  .row
    .col-md-8
      .form-group
        = f.label :service_phonenumber
        = f.text_field :service_phonenumber, id: 'phone'


  = f.fields_for :pictures do |pic|
    /- next if pic.object.new_record?
    .row
      .col-md-8
        .form-group
          = pic.label :image
          = pic.file_field :image

  .actions
    = f.submit t('helpers.submit.submit'), class: 'btn btn-primary'