= form_for @user, url: admin_user_path(@user), method: :put do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.submit t('helpers.submit.submit'), class: 'btn btn-primary'