%h1
  = t('helpers.listing')
  = User.model_name.human(count: 10)

.list-group
  - @users.each do |user|
    = link_to(admin_user_path(user), class: 'list-group-item') do
      = user.email
      .clearfix


= link_to t('helpers.new') + ' ' + User.model_name.human(count: 1), new_admin_user_path, class: "btn btn-success"